.swiper-pagination-bullet {
  background: #ffffff;
  border: 7px solid #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: transparent;
  border: 5px solid #ffd40d;
  padding: 4px;
  margin: 4px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  /* bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto); */
  left: 120px !important;
  /* width: 100%; */
}

.swiper-pagination {
  /* position: absolute; */
  text-align: left !important;
  /* transition: 300ms opacity; */
  /* transform: translate3d(0, 0, 0); */
  /* z-index: 10; */
}

.popupvideo {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.videoPopup {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  z-index: 9;
}

.videoPopup.visible {
  opacity: 1;
  visibility: visible !important;
  z-index: 999;
}
.videoPopup,
.videoPopup .opacityLayer {
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
}

.videoPopup .opacityLayer {
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  transition: opacity 0.4s;
}

.videoPopup.visible .opacityLayer {
  opacity: 1;
}

.videoPopup .videoPlayer {
  aspect-ratio: 16/9;
  background-color: #fff;
  position: relative;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  width: 800px;
}

.videoPopup.visible .videoPlayer {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.videoPopup .videoPlayer .closeBtn {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: -25px;
}

ul.star {
  position: relative;
  /* left: 0;
  bottom: 0; */
}

ul.star svg {
  background-color: transparent;
  padding: 0;
  width: 18px;
  height: 18px;
  left: 0;
  bottom: 10px;
}

ul.star svg:hover {
  background-color: transparent;
  fill: #ffd40d;
  cursor: pointer;
}

ul > .test svg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.prductDet svg:hover {
  fill: #000 !important;
}


.leave-comment input, .leave-comment textarea{
  margin-bottom: 0 !important;
}